h1, h2, p, div {
	text-align: center;
}

p {
	font-weight: bolder;
}

body {
	background-color: #add8e6;
}

ul {
	color: green;
	font-size: 18px;
}

img {
	border: 2px solid black; 
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
